/* Background styles */
.global-fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -50;
  background-color: transparent;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  pointer-events: none;
}

/* Removed dark overlay to show background image directly */